.tag {
  margin: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
  padding: 8px 12px 8px 12px;
  border-radius: 24px;
  border: 0;
  background-color: rgba(49, 100, 244, 1);
}