.button-icon-fuchsia-blue {
  position: relative;
  padding: 8px 8px 8px 8px;
  border-radius: 32px;
  border: 0;
  background-color: rgba(49, 100, 244, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.button-icon-fuchsia-blue-icon {
  display: block;
  font-size: 20px;
}