.body {
    height: 80vh;
    padding-bottom: 30px;
}

.cs-search {
    background-color: var(--zircon) !important;
    border-width: 1px;
}

.cs-search * {
    background-color: var(--zircon) !important;
}

.sidebar-visible {
    display: flex !important;
    flex-basis: auto !important;
    width: 100%;
    max-width: 100% !important;
}

.convoContent-visible {
    display: flex !important;
}

.convoAvatar-visible {
    margin-right: 1em !important;
}

.chatContainer-invisible {
    display: none !important;
}

.message-input :nth-child(2) {
  background-color: var(--zircon) !important;
  border-width: 1px;
}

.message-input :nth-child(2) * {
  background-color: var(--zircon) !important;
}

.empty-chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 150%;
}

.convo-header * {
    font-family: "Nunito Sans";
    font-weight: bold;
}

.msg-footer * {
    display: flex !important;
    padding: 0 !important;
}

:global(.dropdown-toggle::after) {
    display: none !important;
}