.body {
    height: 100vh;
    padding-bottom: 30px;
}

.cs-search input {
    background-color: #c6e3fa !important;
}

.sidebar-visible {
    display: flex !important;
    flex-basis: auto !important;
    width: 100%;
    max-width: 100% !important;
}

.convoContent-visible {
    display: flex !important;
}

.convoAvatar-visible {
    margin-right: 1em !important;
}

.chatContainer-invisible {
    display: none !important;
}