.card-dark-grey {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  align-self: stretch;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  border: 0;
  background-color: rgba(43, 43, 43, 1);
}