.navigation-header-white {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 100px;
  min-height: 50px;
  position: relative;
  z-index: 1;
  background-color: rgba(237, 237, 237, 1);
}