:root { 
--gray_52:#f7fbff; 
--gray_51:#fffafa; 
--blue_A700:#3164f4; 
--black_900_3f:#0000003f; 
--light_blue_900:#0354a6; 
--gray_50:#fcfcfd; 
--black_900_00:#00000000; 
--black_900:#000000; 
--black_901:#030303; 
--blue_900:#064280; 
--gray_900_26:#12121226; 
--gray_500:#979797; 
--gray_901:#101828; 
--gray_902:#262626; 
--gray_900:#121212; 
--bluegray_100:#d0d5dd; 
--orange_500:#ff9600; 
--orange_200:#e8c381; 
--gray_100:#f2f4f7; 
--bluegray_500:#667085; 
--bluegray_200:#abc1c5; 
--bluegray_101:#d6d6d6; 
--indigo_900:#250074; 
--indigo_901:#020073; 
--indigo_700:#2e42a4; 
--white_A700:#ffffff; 
}