
 @font-face { font-style : bold; src: url("assets/fonts/nunitosansextrabold800.ttf"); font-family : "Nunito Sans"; font-weight : 800;  }
 @font-face { font-style : normal; src: url("assets/fonts/interregular400.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/intersemibold400.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : italic; src: url("assets/fonts/merriweatherbolditalic700.ttf"); font-family : "Merriweather"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinssemibold600.ttf"); font-family : "Poppins"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/nunitomedium500.ttf"); font-family : "Nunito"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/nunitosemibold600.ttf"); font-family : "Nunito"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/intermedium500.ttf"); font-family : "Inter"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/nunitosansregular400.ttf"); font-family : "Nunito Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/nunitosansregular700.ttf"); font-family : "Nunito Sans"; font-weight : 700;  }