.username-input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    margin-top: 42px;
    min-height: 87px;
    width: 700px;
}

.label,
.text {
    letter-spacing: 0;
    line-height: 40px;
    min-height: 36px;
    white-space: nowrap;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

.home-inner {
    padding-top: 60px;
    align-items: center;
}

.form {
    align-items: center;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
    min-height: 853px;
    padding: 36px 42px;
    position: relative;
    width: 823px;
}

.side-panel {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 853px;
    padding: 36px 36px;
    width: 617px;
}

.image-2 {
    align-self: flex-end;
    height: 168px;
    margin-right: 15px;
    object-fit: cover;
    width: 253px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-3 {
    height: 157px;
    margin-left: 31px;
    object-fit: cover;
    width: 242px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-4 {
    align-self: flex-end;
    height: 164px;
    margin-right: 17px;
    object-fit: cover;
    width: 255px;
    margin-bottom: 20px;
    margin-top: 20px;
}
