.secondary-button-black {
  margin: 10px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: 1px solid rgba(3, 3, 3, 1);
}