.container-center-horizontal {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.home-inner {
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  align-self: center;
}

.avatar {
  background-position: 50% 50%;
  background-size: cover;
  border-color: black;
  border-width: 1px;
  margin: auto;
  display: flex;
  width: 200px;
  height: 200px;
}

.listings {
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  padding: 9px 0;
  margin: 0px 30px;
  width: 90%;
}

.shadow {
  box-shadow: "0px 6px 4px #00000040";
  background-color: #abc1c5;
}

.button-master {
  align-items: center;
  background-color: #d5ded9;
  border-radius: 24px;
  display: flex;
  height: 48px;
  margin-top: 41px;
  overflow: hidden;
  padding: 0 24px;
  width: 118px;
}

.buttonmaster-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 80px;
  min-width: 500px;
}

.button-master-1 {
  align-items: center;
  background-color: #d5ded9;
  border-radius: 24px;
  display: flex;
  height: 70px;
  overflow: hidden;
  padding: 0 106.5px;
  width: 290px;
  cursor: pointer;
}

.button-master-2 {
  align-items: center;
  background-color: #42d38b;
  border-radius: 24px;
  display: flex;
  height: 70px;
  margin-left: 68px;
  overflow: hidden;
  padding: 0 109px;
  width: 290px;
  cursor: pointer;
}
