.navBar {
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.minerva_logo {
  height: 93px;
  object-fit: contain;
}

.links {
  align-items: center;
  display: flex;
  position: relative;
}

.credentialsCorner {
  align-items: center;
  display: flex;
}

.home-link {
  align-items: flex-start;
  display: flex;
  margin: 0px 15px;
  min-width: 57px;
  position: relative;
  text-decoration: none;
}

.listings-link {
  align-items: flex-start;
  display: flex;
  margin: 0px 15px;
  min-width: 75px;
  position: relative;
  text-decoration: none;
}

.aboutus-link {
  align-items: flex-start;
  display: flex;
  margin: 0px 15px;
  min-width: 88px;
  position: relative;
  text-decoration: none;
}

.login-button {
  align-items: flex-end;
  display: flex;
  min-width: 103px;
  position: relative;
  text-decoration: none;
}

.sign-up-button {
  display: flex;
  margin-left: 9px;
  position: relative;
  text-decoration: none;
}

.button-variant-set-master {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.button-variant-set-master.button-variant-set-master-1 {
  margin-left: 24px;
  min-width: 89px;
}

.button-master {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  padding: 11px 0;
  width: 57px;
}

.text {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.button-master.button-master-1 {
  width: 89px;
}

.button-variant-set-master-2 {
  align-items: flex-start;
  display: flex;
  min-width: 75px;
  position: relative;
}

.button-master-2 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  padding: 11px 0;
  width: 75px;
}  

.text-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.button-variant-set-master-3 {
  align-items: flex-end;
  display: flex;
  min-width: 103px;
  position: relative;
}

.button-master-3 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  padding: 10px 23px;
  width: 103px;
  position: relative;
}

.inter {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.button-master-4 {
  align-items: flex-start;
  background-color: var(--primary400---0354a6);
  border-radius: 11px;
  display: flex;
  overflow: hidden;
  padding: 5px 21px;
  width: 111px;
}

.text-2 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.avatar {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 200px;
  border-color: black;
  border-width: 1px;
  align-items: center;
  display: flex;
  margin-bottom: 1px;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.chat {
  font-size: 30px;
  padding: 0px 30px;
  color: gray;
}
