:global(textarea:disabled) {
    cursor: default !important;
    background-color: rgba(239, 239, 239, 0.3)!important;
    color: rgb(84, 84, 84)!important;
    border-color: rgba(118, 118, 118, 0.3) !important;
}